/* Created with Easy CSS Menu */

#logo_wrapper {
  padding: 2px;
  border-style: solid;
  border-color: #0592F0;
  border-width: 3px;
  border-radius: 11px;
  background-color: #0592F0;
  box-shadow: 2px 2px 9px -1px #333333;
  border-collapse: separate;
  font-size: 0;
  line-height: 0;
 margin-left: -135px;
margin-top: -70px;
}

#logo_wrapper.quirks {
  margin-bottom: 1px;
  margin-right: 1px;
}

#logo_wrapper.quirks #logo_table ul li {
  width: 100%;
}

#logo_table {
  margin: 0px;
  margin-bottom: -1px;
  margin-right: -1px;
  padding: 0;
  line-height: 0px;
  font-size: 0px;
  display: inline-block;
  width: auto;
}

#logo_table li a {
  line-height: 41px;
  font-size: 25px;
  font-family: "Alien Encounters",sans-serif;
  text-decoration: none;
  color: #000000;
  font-style: normal;
  font-weight: bold;
  padding: 29px 2px 2px 126px;
  display: block;
  cursor: pointer;
  white-space: nowrap;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#logo_table li div.buttonbg {
  height: 100px;
  width: 330px;
  line-height: 0;
  background-color: #0592F0;
  border-style: solid;
  border-color: #000000;
  border-width: 3px;
  border-radius: 0;
  padding: 0;
  box-shadow: 0 0 9px -1px #333333 inset;
  text-align: center;
}

#logo_table li:hover div.buttonbg a, #logo_table li.expanded a.topitem, #logo_table li.active a.topitem,
#logo_table li.itemhot a.topitem, #logo_table li a:hover {
  color: #E6E6E6;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
}


#logo_table li.expanded div.buttonbg, #logo_table li.active div.buttonbg, #logo_table li.itemhot div.buttonbg, #logo_table li:hover div.buttonbg {
  background-color: #0592F0;
  box-shadow: 0 1px 3px -1px #222222 inset;
}

#logo_table li.expanded div.buttonbg, #logo_table li.active div.buttonbg, #logo_table li.itemhot div.buttonbg, #logo_table li:hover div.buttonbg {
  border-color: #C8C8C8;
}

#logo_table li.first_button div.buttonbg {
  border-radius: 20px 0 0 20px;
}

#logo_table li.last_button div.buttonbg {
  border-radius: 0 20px 20px 0;
}

#logo_table ul li a {
  color: #000000;
  font-family: Tahoma,sans-serif;
  font-size: 11px;
  line-height: 13px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  display: block;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#logo_table ul li:hover > a {
  color: #000000;
  font-family: Tahoma,sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
}

#logo_table ul li.subexpanded a.subexpanded, #logo_table ul li.subitemhot a.subitemhot, #logo_table ul li a:hover {
  color: #000000;
  font-family: Tahoma,sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
}

#logo_table ul li:hover, #logo_table ul li.subexpanded, #logo_table ul li.subitemhot {
  border-color: transparent;
  background-color: #FFFFFF;
  box-shadow: none;
}

#logo_table ul {
  margin: 0;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 0;
  background: #FFFFFF;
  font-size: 0;
  border-radius: 0;
}

#logo_table ul li a {
  padding: 3px 11px 3px 9px;
  text-align: left;
}

#logo_table ul li.separator {
  padding: 3px;
  cursor: default;
  background: none;
  box-shadow: none;
  border-width: 0;
}

#logo_table ul li.separator div {
  border-top: 1px solid #C0C0C0;
  font-size: 0px;
}

#logo_table ul li {
  border-style: solid;
  border-color: transparent;
  border-width: 0;
  height: auto;
  width: auto;
  text-align: left;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  float: none;
  margin: 0 0 0px 0;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
  background-color: #FFFFFF;
  display: block;
}


#logo_table a img {
  border: none;
}

#logo_table li {
  list-style: none;
  float: left;
  margin: 0px 1px 1px 0px;
  padding: 0;
  float: left;
  display: inline-block;
}

#logo_table.css_menu li {
  position: relative;
}

#logo_table.css_menu ul li:hover > ul {
  opacity: 1;
}

#logo_table.css_menu li:hover > ul {
  top: 100%;
  left: 0;
  right: auto;
  opacity: 1;
}

#logo_table.css_menu ul li:hover > ul {
  top: -1px;
  left: 100%;
  right: auto;
}

#logo_table.css_menu ul {
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-property:opacity;
  -webkit-transition-property:opacity;
  -moz-transition-property:opacity;
  -ms-transition-property:opacity;
  opacity: 0;
}

#logo_table ul {
  position: absolute;
  top:-99999px;
  z-index: 4000;
}

#logo_table ul ul {
  position: absolute;
  z-index: 5000;
}

#logo_table .submenu_arrow {
  margin-left: 8px;
}


@media screen and (max-width: 500px) {
  #logo_wrapper:not(.scripted) {
    text-align: center;
  }

  #logo_wrapper:not(.scripted) #logo_table li {
    float: none;
    vertical-align: top;
  }
}

#logo_wrapper.centeritems {
  text-align: center;
}

#logo_wrapper.centeritems #logo_table li {
  float: none;
  vertical-align: top;
}
#logo_table ul li a.with_arrow { 
  background-image: url(ebab_mbmcp_c.png); 
  background-repeat: no-repeat; 
  background-position: right center; 
  padding-right: 15px; 
} 

#logo_table div.icon_1 { 
  background-image: url(ebab_mbmcp_ico_0.png); 
  background-repeat: no-repeat; 
  background-position: 2px center; 
  height: 100%; 
} 

